
/*Стили для формы входа*/
.loginb {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.login-container form div {
    margin-bottom: 15px;
}

.login-container input {
    width: 80%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 6px;
    margin-top: 5px;
}

.login-container .register-text {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.login-container .register-text a {
    color: #1d72b8;
    text-decoration: none;
    font-weight: 500;
}

.login-container .register-text a:hover {
    text-decoration: underline;
    color: #155d8b;
}


/*Стили для формы регистрации*/
.reg-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.reg-container form div {
    margin-bottom: 15px;
}

.reg-container input {
    width: 80%;
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 6px;
    margin-top: 5px;
}

/*Стили для заголовков*/
h2 {
    font-family: "Segoe UI", sans-serif;
    font-size: 28px;
    font-weight: 600;
    color: #0B63F6;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/*Стили для кнопок*/
.btn-new {
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
}

.btn-new:hover {
    background: #003CC5;
    box-shadow: none;
    position: relative;
    top: 5px;
}

.delete-btn {
    background: none;
    border: none;
    color: red;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}

.delete-btn:hover {
    color: darkred;
    transform: scale(1.2);
}


/* Стили для таблицы*/
table {
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.table-subtask{
    width: 30%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}


th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: #1d72b8;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e1f0ff;
}

td {
    border-bottom: 1px solid #ddd;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

/* Стили для модального окна */
.modal {
    display: none; /* скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Окно */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    text-align: center;
}

/* Кнопки */
.modal-content .confirm {
    background: red;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content .cancel {
    background: gray;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.alert {
    padding: 10px 15px;
    margin: 10px auto;
    width: 40%;
    border-radius: 5px;
    font-size: 16px;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}